.owltheme {
  background-color: #121f3a;
  padding-top: 10px;
}
.sliderdiv {
  padding: 2em 0;
  text-align: center;
}

.slide {
  background-color: #121f3a;
  width: 100%;
  margin: 1em auto;
  padding-top: 2em !important;
}
.motive {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carouselhead {
  color: #121f3a !important;
  font-size: 35px !important;
}
.dash {
  width: 250px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 10px;
  background: rgb(255, 0, 90);
  background: linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    rgba(10, 24, 61, 1) 90%
  );
}
.slidecard {
  min-height: 25em;
  border-radius: 20px;
  background-color: #016795;
  color: white;
  margin: 0.8em 1.5em 0;
  padding: 1em;
}

.slidecard:hover {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 90, 1) 0%,
    rgba(10, 24, 61, 1) 90%
  );
  color: white;
  cursor: pointer;
}

.cardhead {
  text-align: center;
}

.cardtext {
  margin: 1.5em 0;
  line-height: 1.5;
  text-align: center;
  font-size: 15px;
}

.owl-dots button.owl-dot.active {
  background-color: rgba(255, 0, 90, 1) !important;
}
